USE [master]
GO
/****** Object:  Database [ForumDB]    Script Date: 13.07.2022 21:02:57 ******/
CREATE DATABASE [ForumDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'_ForumDB_20160216', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ForumDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'_ForumDB_20160216_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ForumDB_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ForumDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ForumDB]
GO
/****** Object:  Table [dbo].[ForumAchievements]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumAchievements](
	[AchievementID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[TimesAchieved] [int] NOT NULL,
 CONSTRAINT [PK__ForumAch__F61BBC2A4D94879B] PRIMARY KEY CLUSTERED 
(
	[AchievementID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumAdministrators]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumAdministrators](
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__ForumAdm__1788CCAC7F60ED59] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumComplaints]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumComplaints](
	[UserID] [int] NOT NULL,
	[MessageID] [int] NOT NULL,
	[ComplainText] [ntext] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumConfig]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumConfig](
	[CfgKey] [nvarchar](255) NOT NULL,
	[CfgValue] [ntext] NOT NULL,
 CONSTRAINT [PK__ForumCon__DD0B118F6B24EA82] PRIMARY KEY CLUSTERED 
(
	[CfgKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumGroupPermissions]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumGroupPermissions](
	[ForumID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
	[AllowReading] [bit] NOT NULL,
	[AllowPosting] [bit] NOT NULL,
 CONSTRAINT [PK__ForumGro__5359037F619B8048] PRIMARY KEY CLUSTERED 
(
	[ForumID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumGroups]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumGroups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[OrderByNumber] [int] NOT NULL,
 CONSTRAINT [PK__ForumGro__149AF30A03317E3D] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumMessageRating]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumMessageRating](
	[MessageID] [int] NOT NULL,
	[VoterUserID] [int] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK__ForumMes__7E9AC5D05070F446] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC,
	[VoterUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumMessages]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Body] [ntext] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Visible] [bit] NOT NULL,
	[IPAddress] [varchar](50) NULL,
	[Rating] [int] NOT NULL,
	[AcceptedAnswer] [bit] NOT NULL,
 CONSTRAINT [PK__ForumMes__C87C037C108B795B] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumModerators]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumModerators](
	[UserID] [int] NOT NULL,
	[ForumID] [int] NOT NULL,
 CONSTRAINT [PK__ForumMod__F9A9C6685629CD9C] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ForumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumNewForumMsgSubscriptions]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumNewForumMsgSubscriptions](
	[UserID] [int] NOT NULL,
	[ForumID] [int] NOT NULL,
 CONSTRAINT [PK__ForumNew__F9A9C6685EBF139D] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ForumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumNewTopicSubscriptions]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumNewTopicSubscriptions](
	[UserID] [int] NOT NULL,
	[ForumID] [int] NOT NULL,
 CONSTRAINT [PK__ForumNew__F9A9C6685BE2A6F2] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ForumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPersonalMessages]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPersonalMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[FromUserID] [int] NOT NULL,
	[ToUserID] [int] NOT NULL,
	[Body] [ntext] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[New] [bit] NOT NULL,
	[HiddenBySender] [bit] NOT NULL,
	[HiddenByRecipient] [bit] NOT NULL,
 CONSTRAINT [PK__ForumPer__C87C037C34C8D9D1] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPollAnswers]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPollAnswers](
	[UserID] [int] NOT NULL,
	[OptionID] [int] NOT NULL,
 CONSTRAINT [PK__ForumPol__FEA4B6B1534D60F1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPollOptions]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPollOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[PollID] [int] NOT NULL,
	[OptionText] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__ForumPol__92C7A1DF46E78A0C] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPolls]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPolls](
	[PollID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NOT NULL,
	[Question] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__ForumPol__E1949E4A4316F928] PRIMARY KEY CLUSTERED 
(
	[PollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forums]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forums](
	[ForumID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Premoderated] [bit] NOT NULL,
	[GroupID] [int] NOT NULL,
	[MembersOnly] [bit] NOT NULL,
	[OrderByNumber] [int] NOT NULL,
	[RestrictTopicCreation] [bit] NOT NULL,
	[IconFile] [nvarchar](50) NULL,
 CONSTRAINT [PK__Forums__E210AC4F07F6335A] PRIMARY KEY CLUSTERED 
(
	[ForumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumSettings]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumSettings](
	[LastDigestSentDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumSubforums]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumSubforums](
	[ParentForumID] [int] NOT NULL,
	[SubForumID] [int] NOT NULL,
 CONSTRAINT [PK__ForumSub__8CD7C7386754599E] PRIMARY KEY CLUSTERED 
(
	[ParentForumID] ASC,
	[SubForumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumSubscriptions]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumSubscriptions](
	[UserID] [int] NOT NULL,
	[TopicID] [int] NOT NULL,
 CONSTRAINT [PK__ForumSub__D7AA2C5B59063A47] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumTopics]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumTopics](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[ForumID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[Visible] [bit] NOT NULL,
	[LastMessageID] [int] NOT NULL,
	[IsSticky] [int] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[ViewsCount] [int] NOT NULL,
	[RepliesCount] [int] NOT NULL,
 CONSTRAINT [PK__ForumTop__022E0F7D21B6055D] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumUploadedFiles]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumUploadedFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[MessageID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__ForumUpl__6F0F989F3B75D760] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumUploadedPersonalFiles]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumUploadedPersonalFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[MessageID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__ForumUpl__6F0F989F3F466844] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumUserGroups]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumUserGroups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ForumUse__149AF30A1B0907CE] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumUsers]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Homepage] [nvarchar](255) NULL,
	[Interests] [nvarchar](255) NULL,
	[PostsCount] [int] NOT NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[Disabled] [bit] NOT NULL,
	[ActivationCode] [nvarchar](50) NOT NULL,
	[AvatarFileName] [nvarchar](255) NULL,
	[Signature] [nvarchar](1000) NULL,
	[LastLogonDate] [datetime] NULL,
	[ReputationCache] [int] NOT NULL,
	[OpenIdUserName] [nvarchar](255) NULL,
	[HidePresence] [bit] NOT NULL,
	[UseGravatar] [bit] NOT NULL,
	[TwitterUserName] [varchar](255) NULL,
	[FacebookID] [varchar](255) NULL,
 CONSTRAINT [PK__ForumUse__1788CCAC2A4B4B5E] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumUsersInGroup]    Script Date: 13.07.2022 21:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumUsersInGroup](
	[GroupID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__ForumUse__A6C1639C6477ECF3] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ForumConfig] ADD  CONSTRAINT [DF__ForumConf__CfgVa__6D0D32F4]  DEFAULT ('') FOR [CfgValue]
GO
ALTER TABLE [dbo].[ForumGroups] ADD  CONSTRAINT [DF__ForumGrou__Order__0519C6AF]  DEFAULT ((0)) FOR [OrderByNumber]
GO
ALTER TABLE [dbo].[ForumMessages] ADD  CONSTRAINT [DF__ForumMess__Visib__1273C1CD]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[ForumMessages] ADD  CONSTRAINT [DF__ForumMess__Ratin__1367E606]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[ForumMessages] ADD  CONSTRAINT [DF__ForumMess__Accep__145C0A3F]  DEFAULT ((0)) FOR [AcceptedAnswer]
GO
ALTER TABLE [dbo].[ForumPersonalMessages] ADD  CONSTRAINT [DF__ForumPerson__New__36B12243]  DEFAULT ((1)) FOR [New]
GO
ALTER TABLE [dbo].[ForumPersonalMessages] ADD  CONSTRAINT [DF__ForumPers__Hidde__37A5467C]  DEFAULT ((0)) FOR [HiddenBySender]
GO
ALTER TABLE [dbo].[ForumPersonalMessages] ADD  CONSTRAINT [DF__ForumPers__Hidde__38996AB5]  DEFAULT ((0)) FOR [HiddenByRecipient]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF__Forums__Premoder__09DE7BCC]  DEFAULT ((0)) FOR [Premoderated]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF__Forums__MembersO__0AD2A005]  DEFAULT ((0)) FOR [MembersOnly]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF__Forums__OrderByN__0BC6C43E]  DEFAULT ((0)) FOR [OrderByNumber]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF__Forums__Restrict__0CBAE877]  DEFAULT ((0)) FOR [RestrictTopicCreation]
GO
ALTER TABLE [dbo].[ForumTopics] ADD  CONSTRAINT [DF__ForumTopi__LastM__239E4DCF]  DEFAULT ((0)) FOR [LastMessageID]
GO
ALTER TABLE [dbo].[ForumTopics] ADD  CONSTRAINT [DF__ForumTopi__IsSti__24927208]  DEFAULT ((0)) FOR [IsSticky]
GO
ALTER TABLE [dbo].[ForumTopics] ADD  CONSTRAINT [DF__ForumTopi__IsClo__25869641]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[ForumTopics] ADD  CONSTRAINT [DF__ForumTopi__Views__267ABA7A]  DEFAULT ((0)) FOR [ViewsCount]
GO
ALTER TABLE [dbo].[ForumTopics] ADD  CONSTRAINT [DF__ForumTopi__Repli__276EDEB3]  DEFAULT ((0)) FOR [RepliesCount]
GO
ALTER TABLE [dbo].[ForumUsers] ADD  CONSTRAINT [DF__ForumUser__Posts__2C3393D0]  DEFAULT ((0)) FOR [PostsCount]
GO
ALTER TABLE [dbo].[ForumUsers] ADD  CONSTRAINT [DF__ForumUser__Regis__2D27B809]  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[ForumUsers] ADD  CONSTRAINT [DF__ForumUser__Disab__2E1BDC42]  DEFAULT ((0)) FOR [Disabled]
GO
ALTER TABLE [dbo].[ForumUsers] ADD  CONSTRAINT [DF__ForumUser__Activ__2F10007B]  DEFAULT ('') FOR [ActivationCode]
GO
ALTER TABLE [dbo].[ForumUsers] ADD  CONSTRAINT [DF__ForumUser__Reput__300424B4]  DEFAULT ((0)) FOR [ReputationCache]
GO
ALTER TABLE [dbo].[ForumUsers] ADD  CONSTRAINT [DF__ForumUser__HideP__30F848ED]  DEFAULT ((0)) FOR [HidePresence]
GO
ALTER TABLE [dbo].[ForumUsers] ADD  CONSTRAINT [DF__ForumUser__UseGr__31EC6D26]  DEFAULT ((1)) FOR [UseGravatar]
GO
USE [master]
GO
